.score{
    font-size: 1.7em;
    margin: 0;
}

.counterDisplay{
    color: rgba(103, 102, 102, 0.355);
    font-size: 50px;
    text-align: center;
    z-index: -1;
    user-select: none;
    vertical-align: middle;
}